@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: "Montserrat", sans-serif;
}

/* Google Font Link */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: white;
  padding: 0px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebar.open {
  width: 300px;
}

.sidebar .logo-details {
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.sidebar .logo-details img {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: rgb(6, 2, 2);
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details img,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: rgb(187, 8, 8);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
  padding-left: 0px;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #11101d;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
  background-color: #f4f7fa;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  color: #1d1b31;
  background: #f4f7fa;
  width: 20px;
}

.sidebar .bx-menu {
  width: 30px;
}

.sidebar.open .bx-search:hover {
  color: #1d1b31;
  background: #f4f7fa;
}

.sidebar .bx-search:hover {
  background: #f4f7fa;
  color: #11101d;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar li a:hover {
  background: #fff;
}

.sidebar .logo-details {
  position: sticky;
  z-index: 1;
  background: white;
  top: 0;
}
.sidebar .accordion {
  border-width: 0px;
}
.sidebar .accordion .accordion-item .accordion-header {
  padding: 0px;
}
.sidebar .accordion .accordion-item .accordion-header .accordion-button {
  border: none;
  padding: 0px;
  font-size: 15px;
}
.sidebar .accordion .accordion-item .accordion-header .accordion-button p {
  opacity: 0;
  transition: 0.4s;
  color: #11101d;
  margin: 0px;
  margin: 0px;
  opacity: 0;
  transition: 0.4s;
}
.sidebar .accordion .accordion-item .accordion-header .accordion-button i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 5px;
  opacity: 1;
  transition: 0.4s;
}
.sidebar .accordion .accordion-body {
  padding: 0px;
  font-size: 15px;
  display: flex;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .accordion .accordion-body p {
  opacity: 0;
  transition: 0.4s;
  margin: 0px;
  transition: 0.4s;
}
.sidebar .accordion .accordion-body i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.4s;
}
.sidebar .accordion .accordion-button.collapsed::after {
  background-image: none;
}
.sidebar .accordion .accordion-button:not(.collapsed)::after {
  background-image: none;
}

.sidebar.open .accordion .accordion-item .accordion-header {
  padding: 0px;
}
.sidebar.open .accordion .accordion-item .accordion-header .accordion-button {
  border: 0px;
  padding: 0px;
  font-size: 15px;
}
.sidebar.open .accordion .accordion-item .accordion-header .accordion-button p {
  opacity: 1;
  transition: 0.4s;
  color: #11101d;
  margin: 0px;
  transition: 0.4s;
}
.sidebar.open .accordion .accordion-item .accordion-header .accordion-button i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.4s;
}
.sidebar.open .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  background-image: url(icons/chevron-up.svg);
}
.sidebar.open .accordion .accordion-item .accordion-header .accordion-button.collapsed::after {
  background-image: url(icons/chevron-up.svg);
}
.sidebar.open .accordion .accordion-body {
  display: flex;
  padding: 0px;
  font-size: 15px;
  display: flex;
  font-weight: 400;
  white-space: nowrap;
  align-items: center;
}
.sidebar.open .accordion .accordion-body p {
  opacity: 1;
  transition: 0.4s;
  color: #11101d;
  margin: 0px;
}
.sidebar.open .accordion .accordion-body i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.4s;
}

.sidebar li a .links_name {
  color: #fff;
  color: black;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
}

.sidebar.open li.profile {
  width: 300px;
  display: flex;
  align-items: center;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section {
  left: 300px;
  width: calc(100% - 300px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.home-section {
  background-color: #f4f7fa;
}
.home-section a {
  color: black;
  font-size: 14px;
}
.home-section .first {
  z-index: 100;
  position: sticky;
  top: 0;
  background-color: white;
}
.home-section .first .navbar {
  padding: 0px;
  font-size: 14px;
}
.home-section .first .navbar .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.home-section .second {
  margin: 20px 0px;
}
.home-section .second .navbar {
  padding: 0px;
}
.home-section .second .navbar .input-group .form-control {
  font-size: 14px;
}
.home-section .second .navbar .text {
  margin: 0px;
}
.home-section .second .navbar .text .t1 {
  font-size: 54px;
  line-height: 54px;
  font-family: "rajdhani";
  margin-bottom: 0px;
  background-color: #f4f7fa;
}
.home-section .second .navbar .text .t2 {
  font-size: 14px;
  padding: 0px;
  margin: 0;
}
.home-section .second .navbar form {
  width: 60%;
}
.home-section .second .navbar form .input-group {
  width: 100%;
}
.home-section .second .navbar .create {
  background-color: #424143;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}
.home-section hr {
  margin: 0px;
}
.home-section .users {
  border: 1px solid #cecece;
  margin-bottom: 20px;
  overflow-y: auto;
  border-radius: 5px;
  background-color: white;
  width: calc(100% - 22px);
  height: 450px;
  padding-top: 0px;
}
.home-section .users .heading {
  font-weight: bold;
  padding: 0px 0px 12px 0px;
  background: white;
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid #424143;
}
.home-section .users .filter-bar {
  font-size: 14px;
  padding: 12px 0px;
  display: grid;
  align-items: center;
  background: white;
}
.home-section .users .filter-bar p {
  margin-bottom: 0px;
}
.home-section .users .filter-bar .btn {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 5px 15px;
  border: 1px solid #424143;
}
.home-section .users .filter-bar .btn img {
  padding-right: 10px;
}
.home-section .users .a {
  position: sticky;
  top: 0;
  font-size: 14px;
  background-color: #f0f0f0;
  padding: 12px 0px;
}
.home-section .users .a .space {
  display: flex;
  align-items: center;
}
.home-section .users .a .space img {
  padding-left: 10px;
}
.home-section .users .a .btn {
  font-size: 14px;
  border-radius: 5px;
}
.home-section .users .b {
  font-size: 14px;
  padding: 12px 0px;
  border-color: black;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #424143;
}
.home-section .users .b .dropdown-item {
  font-size: 14px;
}
.home-section .users .b .btn {
  font-size: 14px;
  padding-left: 20px;
  border-radius: 5px;
}
.home-section .users .b .col-md-6 {
  display: flex;
  align-items: center;
}
.home-section .users .b .col-md-8 {
  height: -moz-fit-content;
  height: fit-content;
}
.home-section .navigation {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-section .navigation nav {
  border: 1px solid #cecece;
  border-radius: 8px;
}
.home-section .navigation nav ul {
  margin: 0;
}
.home-section .navigation .pages {
  padding: 10px 20px;
  border-radius: 8px;
  background: white;
  border: 1px solid #cecece;
}
.home-section .navigation p {
  margin: 0;
}
.home-section .navigation .btn {
  padding: 10px;
  font-size: 14px;
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: -moz-min-content;
  height: min-content;
  bottom: 0;
  width: 100%;
  background: #11101d;
  padding: 5px 15px;
  color: white;
  font-size: 12px;
  width: calc(100% - 78px);
}
footer p {
  margin: 0;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}/*# sourceMappingURL=user.css.map */